.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ccc;
}
